@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@100;200;300;400;500;600;700&family=Source+Sans+3:wght@200..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: "Source Sans 3", sans-serif;
    background: #fff;
    color: #333;
    font-weight: 300;
    line-height: 1.4;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }


  .intro {
    display: flex;
    flex-direction: column;
    padding: 4rem 2rem;
    text-align: center;
    justify-content: center;
    flex: 1;
    border: none;
    background-color: red;
     min-height: 1000px;
  }

  .intro h1 {
    color: #fff;
    font-size: 42px;
    text-align: left;
    margin-left: 20px;
  }

  .intro h2 {
    color: red;
    font-size: 150px;
    text-align: left;
    margin-left: 10px;
    text-transform: uppercase;
    text-shadow: -15px 10px 20px rgba(0, 0, 0, 0.189);
  }

  .intro h4 {
    color: white;
    font-size: 150px;
    text-align: left;
    margin-left: 20px;
    margin-top: -220px;
    text-transform: uppercase;
  }


  .intro-btn::before {
    transition: 1s;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    background-color: #ffffff00;
    color: white;
    padding: 8px 8px;
    border: 2px solid #fff;
    border-radius: 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 10rem;
    margin-top: -30px;
    margin-left: 20px;
  }
  
  .intro-btn {
    transition: 1s;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    background-color: #ffffff00;
    color: white;
    padding: 8px 8px;
    border: 2px solid #fff;
    border-radius: 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 10rem;
    margin-left: 20px;
  }

  .intro-btn:hover {
    background-color: #fff;
    color: #333;
    font-weight: 500;
  }

  .whatsup {
    background-color: red;
    width: auto;
    min-height: 600px;
  }

  .whatsup h1 {
    color: white;
    font-size: 100px;
    text-align: left;
    margin-left: 50px;
    text-transform: uppercase;
    margin-top: 30px;
    text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.313);
  }

  .whatsup p {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    margin-left: 50px;
    margin-right: 50px;
    text-align: justify;
  }

  .whatsup-btn {
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    background-image: linear-gradient(to right, red , black 90%);
    color: white;
    padding: 8px 8px;
    border: 0px solid #fff;
    border-radius: 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 12rem;
    margin-top: 20px;
    margin-left: 50px;
    transition: 0.5s;
  }

  .whatsup-btn:hover {
    background-color: #fff;
    background-image: none;
    color: #333;
    font-weight: 500;
  }

  .comingsoon {
    background-image: linear-gradient(to top, black, red );
    width: auto;
    min-height: 800px;
    display: flex;
    flex-direction: column;
    padding: 4rem 2rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex: 1;
    border: none;
  }

  .comingsoon h1 {
    font-size: 100px;
    font-weight: 800;
    text-transform: uppercase;
    color: white;
  }

  .comingsoon-btn {
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    background-image: linear-gradient(to bottom right, black , red 60%);
    color: white;
    padding: 8px 8px;
    border: 0px solid;
    border-radius: 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 12rem;
    margin-bottom: 30px;
  }

  .comingsoon-btn:hover {
    background: white;
    color: black;
  }

  .comingsoon p {
    color: white;
    text-transform: uppercase;
  }

  @media screen and (max-width: 768px) {

    .plus {

      color: #ffffff00;
      text-shadow: none;

    }

    .intro {

      align-items: center;
      text-align: center;
      align-content: center;
      justify-content: center;

    }

    .intro h2{

      margin-left: -0px;
      transition: 1s;

    }

    .whatsup {
      min-height: 650px;
    }
    .whatsup h1 {
      font-size: 75px;
      transition: 1s;
    }

    .comingsoon h1 {
      font-size: 70px;
      font-weight: 800;
      margin-bottom: 20px;
      text-transform: uppercase;
      color: white;
    }
    .comingsoon p {
      font-size: 14px;
    }

    .comingsoon-btn {
      font-size: 18px;
      font-weight: 500;
      text-transform: uppercase;
      background-image: linear-gradient(to bottom right, black , red 60%);
      color: white;
      padding: 8px 8px;
      border: 0px solid;
      border-radius: 12px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      width: 12rem;
      margin-top: -20px;
      margin-bottom: 25px;
    }

  }

  @media  screen and (max-width: 510px) {

    .plus {

      color: #ffffff00;
      text-shadow: none;

    }

    .intro {

      align-items: center;
      text-align: center;
      align-content: center;
      justify-content: center;

    }

    .intro h2{

      margin-left: -0px;
      margin-top: -30px;
      font-size: 100px;

    }

    .intro h4 {
      font-size: 100px;
      margin-top: -170px;
    }

    .intro-btn {
      margin-top: 10px;
    }

    .whatsup h1 {

      font-size: 55px;
    }
    
    .comingsoon h1 {
      font-size: 50px;
      font-weight: 800;
      margin-bottom: 20px;
      text-transform: uppercase;
      color: white;
    }
    .comingsoon p {
      font-size: 12px;
    }

    .comingsoon-btn {
      font-size: 15px;
      font-weight: 500;
      text-transform: uppercase;
      background-image: linear-gradient(to bottom right, black , red 60%);
      color: white;
      padding: 8px 8px;
      border: 0px solid;
      border-radius: 12px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      width: 9rem;
      margin-top: -20px;
      margin-bottom: 25px;
    }
  }
