@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@100;200;300;400;500;600;700&family=Source+Sans+3:wght@200..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Source Sans 3", sans-serif;
  font-weight: 300;
  background-color: #fff;
  color: #333;
  line-height: 1.6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.hero {
  font-family: "Chillax-Variable", sans-serif;
  min-height: 800px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 5rem 2rem 4rem;
  text-align: center;
  display: flex;
  background-image: radial-gradient(red 10%, white 100%);
}


.banner {
  font-family: "Source Sans 3", sans-serif;
  top: 0;
  width: 100%;
  padding: 1.25rem 1rem;
  text-align: center;
  position: absolute;
  background: #eee; 
  border-bottom: none;
  box-shadow: none;
  animation: banner 3s;
  cursor: default;
}

@keyframes banner {
  from { background: black; }
  to { background: #eee; }
}

.banner-p::before {
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin: 0px;
  display: flex;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 400;
  word-wrap: break-word;
  color: #333;
}

.banner-p {
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin: 0px;
  display: flex;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 400;
  word-wrap: break-word;
  color: #333;
  animation-name: banner-p;
  animation-fill-mode: forwards;
  animation-duration: 1s;
  cursor: default;
}

@keyframes banner-p {
  from { color: #eee; }
  to { color: #333; }
}

.banner-btn {
  display: inline-block;
  padding: 0.2rem 0.4rem;
  text-decoration: none;
  margin: 0.5rem 6px;
  background: #333;
  color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  transition: background 0.3s;
}

.banner-btn:hover {
  background: #eaeaea;
}

.banner-li {
  color: #4476ff;
  text-decoration: none;
  animation: banner-li 2s forwards;
  transition: 0.5s;
}

.banner-li:hover {
  font-weight: 700;
  transition: 0.5s;
}

@keyframes banner-li {
  from { color: #4476ff; }
  to { color: #003ada; }
}

.hero h1 {
  font-weight: 400;
  font-size: 50px;
  color: white;
  text-transform: uppercase;
  margin-top: 3rem;
  cursor: default;
}

.hero h1:hover {
  font-weight: 800;
  transition: 1s;
}

.hero-hb {
  font-weight: 800;
}

.hero p {
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 0;
  cursor: default;
}


.hero-b {
  color: white;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 1rem;
  text-align: center;
  margin: 1.2rem auto;
  max-width: 550px;
  word-wrap: break-word;
}

@media screen and (max-width: 510px) {
  .hero {
    background-image: radial-gradient(red 30%, white);
    padding: 5rem 2rem 4rem;
  }
  .hero h1 {
    font-size: 35px;
  }
}

@media screen and (min-height: 1180px) {

  .hero {
    min-height: 1180px;
  }
}

@media (prefers-color-scheme: dark) {
  .hero {
    background-image: radial-gradient(red 10%, black 100%);
    border-top: 0px solid;
  }

  .hero p {
    color: white;
  }

  .banner {
    background-image: linear-gradient( rgb(46, 0, 0), black);
    border: 0;
    width: 50rem;
    margin: 20px;
    border-radius: 12px;
    padding: 1.25rem 1rem;
    text-align: center;
    border-bottom: none;
    animation: none;
    box-shadow: 0px 0px 20px red;
    transition: 1s;
  }

  .banner:hover {

    box-shadow: 0px 0px 20px white;

  }

  .banner-p {
    animation: none;
  }

  .banner-p:hover {
    transition: 1s;
  }

  .banner-li {
    color: red;
    animation: none;
    transition: none;
  }

  @media screen and (max-width: 768px) {
    .hero {
      background-image: linear-gradient(to top right, red, black);
      padding: 5rem 2rem 4rem;
    }

    .hero h1 {
      font-size: 35px;
    }

    .banner-p {
      color: white;
      font-size: 15px;
      animation-name: none;
      cursor: default;
    }

    .banner {
    background-image: linear-gradient(to bottom right, rgb(46, 0, 0), black);
    border: 0;
    width: 100%;
    margin: 0px;
    border-radius: 0px;
    padding: 1.25rem 1rem;
    text-align: center;
    border-bottom: none;
    animation: none;
    box-shadow: 0px -5px 40px red;
    transition: 1s;
  }

  .banner:hover {

    box-shadow: 0px 0px 20px white;

  }
  
}
}